body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f0f0f0;
}
.form-grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.form-grid label {
    grid-column: 1;
    margin-bottom: 10px;
}
.form-grid input {
    grid-column: 2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-grid input[type="submit"], .form-grid input[type="reset"], button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #007BFF;
    cursor: pointer;
}
.form-grid input[type="submit"]:hover, .form-grid input[type="reset"]:hover, button:hover {
    background-color: #0056b3;
}
form {
    margin-bottom: 20px;
}


body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f0f0f0;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
th {
    background-color: #007BFF;
    color: white;
}